<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="AI Text"
        android:name=".App"
        android:icon="@mipmap/ic_launcher">

        <!-- Main launcher activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Transparent ProcessText activity (target for all aliases) -->
        <activity
            android:name=".ProcessTextActivity"
            android:exported="false"
            android:theme="@style/ProcessTextTheme"
            android:excludeFromRecents="true"
            android:noHistory="true" />

        <!-- ========== BUILT-IN ACTIONS ========== -->

        <activity-alias
            android:name=".ProcessTextRephrase"
            android:targetActivity=".ProcessTextActivity"
            android:label="Rephrase"
            android:exported="true"
            android:enabled="true">
            <meta-data android:name="action_id" android:value="rephrase" />
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".ProcessTextFixGrammar"
            android:targetActivity=".ProcessTextActivity"
            android:label="Fix Grammar"
            android:exported="true"
            android:enabled="true">
            <meta-data android:name="action_id" android:value="fix_grammar" />
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".ProcessTextShorten"
            android:targetActivity=".ProcessTextActivity"
            android:label="Shorten"
            android:exported="true"
            android:enabled="true">
            <meta-data android:name="action_id" android:value="shorten" />
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".ProcessTextExpand"
            android:targetActivity=".ProcessTextActivity"
            android:label="Expand"
            android:exported="true"
            android:enabled="true">
            <meta-data android:name="action_id" android:value="expand" />
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".ProcessTextFormal"
            android:targetActivity=".ProcessTextActivity"
            android:label="Formal Tone"
            android:exported="true"
            android:enabled="true">
            <meta-data android:name="action_id" android:value="formal" />
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".ProcessTextCasual"
            android:targetActivity=".ProcessTextActivity"
            android:label="Casual Tone"
            android:exported="true"
            android:enabled="true">
            <meta-data android:name="action_id" android:value="casual" />
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".ProcessTextSummarize"
            android:targetActivity=".ProcessTextActivity"
            android:label="Summarize"
            android:exported="true"
            android:enabled="true">
            <meta-data android:name="action_id" android:value="summarize" />
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity-alias>

        <!-- ========== CUSTOM ACTION SLOTS (disabled by default) ========== -->

        <activity-alias
            android:name=".ProcessTextCustom1"
            android:targetActivity=".ProcessTextActivity"
            android:label="Custom Action 1"
            android:exported="true"
            android:enabled="false">
            <meta-data android:name="action_id" android:value="custom_1" />
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".ProcessTextCustom2"
            android:targetActivity=".ProcessTextActivity"
            android:label="Custom Action 2"
            android:exported="true"
            android:enabled="false">
            <meta-data android:name="action_id" android:value="custom_2" />
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".ProcessTextCustom3"
            android:targetActivity=".ProcessTextActivity"
            android:label="Custom Action 3"
            android:exported="true"
            android:enabled="false">
            <meta-data android:name="action_id" android:value="custom_3" />
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".ProcessTextCustom4"
            android:targetActivity=".ProcessTextActivity"
            android:label="Custom Action 4"
            android:exported="true"
            android:enabled="false">
            <meta-data android:name="action_id" android:value="custom_4" />
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".ProcessTextCustom5"
            android:targetActivity=".ProcessTextActivity"
            android:label="Custom Action 5"
            android:exported="true"
            android:enabled="false">
            <meta-data android:name="action_id" android:value="custom_5" />
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity-alias>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
